
<h3>
  {{ leyenda }}
</h3>

<div class="input-group">
  <div class="input-group-btn">
    <button (click)="cambiarValor(-5)"
            class="btn btn-outline-primary" type="button">
      <i class="mdi mdi-minus" ></i>
    </button>
  </div>

  <input #txtProgress name="porcentaje"
          [(ngModel)]="porcentaje"
          (ngModelChange)="onChange( $event )"
          type="number"
          class="form-control"
          min="1"
          max="100">

  <div class="input-group-btn">
    <button (click)="cambiarValor(+5)"
            class="btn btn-outline-primary" type="button">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
